@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --orange:#ff7a00;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;

    
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.header .logo img{
    height: 6rem;

}
.header nav ul{
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-around;
margin: 0;
padding: 0;


}
.header nav ul li{
    margin: 0 1.5rem;

}
.header nav ul li a{
    font-size: 2rem;
    color: #666;
    text-decoration: none;
}
.header nav ul li a:hover{
    color: #000;
}
.header .fa-bars{
    font-size: 2.5rem; 
    color: #666;

    cursor: pointer; 
  display: none;
}

.home .hero{
    min-height: 60vh;
    background: url(../photos/archi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;


}
.home .hero .text1{
    font-size: 4rem;
    width: 45rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;

    opacity: .8;
}
.home .hero .text2{
    font-size: 3rem;
    width: 35rem;
    background: var(--orange);
    padding: 1rem 2rem;
    text-align: center;

    opacity: .8;
    margin-top: 1rem;
    color: #fff;
}















.fa-xmark {
    font-size: 2.5rem;
    cursor: pointer;
    transform: rotate(180deg);


} 
