@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --orange:#ff7a00;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;

    
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.heading{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.7rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--orange);
    text-underline-offset: -1.4rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.header .logo img{
    height: 4rem;

}
.header nav ul{
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-around;
margin: 0;
padding: 0;


}
.header nav ul li{
    margin: 0 1.5rem;

}
.header nav ul li a{
    font-size: 2rem;
    color: #666;

}
.header nav ul li a:hover{
    color: #000;
        text-decoration: none;
}
.header .fa-bars{
    font-size: 2.5rem; 
    color: #666;

    cursor: pointer; 
  display: none;
}
/* home section start  */

.home .hero{
    min-height: 60vh;
    background: url(../photos/archi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;


}
.home .hero .text1{
    font-size: 5rem;
    width: 45rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;

    opacity: .8;
}
.home .hero .text2{
    font-size: 3rem;
    width: 35rem;
    background: var(--orange);
    padding: 1rem 2rem;
    text-align: center;

    opacity: .8;
    margin-top: 1rem;
    color: #fff;
}

.home .counting{
min-height: 40vh;
padding: 2rem 0;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.home .counting .box{
    margin: 2rem 4rem;
text-align: center;

}
.home .counting .box .count{
    font-size: 5rem;
    color: #444;
}
.home .counting .box h3{
    font-size: 2rem;
    color: var(--orange);
}
/* home section end  */
/* about section start  */
.about{
min-height: 100vh;
padding-bottom: 3rem;
}

.about .image{
    padding: 2rem;
}
.about .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem var(--orange);
}
.about .info{
    padding: 2rem;
    margin-top: 3rem;
}
.about .info h2{
    color: var(--orange);
    font-size: 3rem;
}
.about .info p{
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}
.about .info .icons a{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.about .info .icons a:hover{
    background: var(--orange);
}



/* about section end  */
/* service section start  */
.service{
    min-height: 100vh;
}
.service .box-container{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service .box-container .box{
    height: 25rem;
    width: 25rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3) ;
    border-left: .5rem solid var(--orange);
    border-right: .5rem solid var(--orange);
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem 3rem;
}

.service .box-container .box .fas{
    color: var(--orange);
    font-size: 5rem;
}
.service .box-container .box p{
    color: #333;
    font-size: 1.1rem;
    margin: 2rem 0;
}


/* service section end  */
/* project gallery start  */
.project{
    min-height: 100vh;
    background: #333;
}
.project .heading{
    color: #fff;
}
.project .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000;
    overflow: hidden;
}
.project .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .box-container .box img:hover{
    transform: scale(1.4);
}










/* project gallery end  */

.fa-xmark {
    font-size: 2.5rem;
    cursor: pointer;
    transform: rotate(180deg);


} 
